* {
  padding: 0;
  margin: 0;
}

body,
button {
  font-family: 'Orbitron';
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #36454f;
}

.calc-container {
  display: flex;
  flex-direction: column;
  width: 603px;
  height: 405px;
  box-sizing: border-box;
  background-color: #d3d3d3;
}

.output {
  width: 603px;
  height: 100px;
  box-sizing: border-box;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-container {
  width: 603px;
  height: 305px;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
}

.numclear-container {
  width: 452px;
  height: 305px;
  box-sizing: border-box;
  background-color: #d3d3d3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.clear-back-container {
  width: 452px;
  height: 60px;
  display: flex;
  justify-content: space-between;
}
.clear {
  width: 301px;
  height: 60px;
}

.backspace {
  width: 150px;
  height: 60px;
}

.num-container {
  height: 244px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.num {
  width: 150px;
  height: 60px;
}

.zero {
  width: 301px;
  height: 60px;
}

.decimal {
  width: 150px;
  height: 60px;
}

.operators {
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #d3d3d3;
  padding-bottom: 1px;
}

.ope {
  width: 150px;
  height: 60px;
}

.equals {
  width: 150px;
  height: 60px;
}

.btn,
.decimal,
.ope,
.equals,
.clear,
.backspace {
  padding: none;
  margin: none;
  box-sizing: border-box;
  background-color: #faf9f6;
  border: none;
}

.equals {
  background-color: #add8e6;
}

button,
.output {
  color: #779ecb;
}

.output {
  font-size: 40px;
  font-weight: bold;
}

button {
  font-size: 20px;
  font-weight: bold;
  position: relative;
  overflow: hidden;
}

span.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
  background-color: #a9a9a9;
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}